<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{../static/layui/css/layui.css}" href="../static/layui/css/layui.css" media="all"/>
</head>
<body>
<div class="layui-layout-body">
    <div class="layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo"> 预报名系统后台管理</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item">
                    <a href="http://localhost:63342/springboot/templates/AdminManage.html" th:href="@{http://localhost:63342/springboot/templates/AdminManage.html}">报名信息管理</a>
                </li>

                <li class="layui-nav-item">
                    <a href="http://localhost:63342/springboot/templates/NoticeManage.html" th:href="@{http://localhost:63342/springboot/templates/NoticeManage.html}">通知管理</a>
                </li>
            </ul>
        </div>
        <div class="layui-body">
            <div style="padding: 15px">
                <table id="ta-notice" lay-filter="ta-notice"></table>

            </div>
        </div>

    </div>
</div>
<div class="layui-row" id="insertno" style="display:none;">

    <form class="layui-form layui-from-pane" id="insertNoti" style="margin-top:10px">


        <div class="layui-form-item">
            <label class="layui-form-label">通知标题</label>
            <div class="layui-input-block">
                <input placeholder="请输入通知标题" type="text" name="noTitle" id="noTitle"   autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通知内容</label>
            <div class="layui-input-block">
                <input placeholder="请输入内容" type="text" name="noContent" id="noContent" required  autocomplete="off" class="layui-input">
            </div>
        </div>

        <input type="hidden" name="id" id="id" value="0">

        <div class="layui-form-item">
            <label class="layui-form-label">通知作者</label>
            <div class="layui-input-block">
                <input type="text" placeholder="请输入通知作者" name="noAuthor" id="noAuthor" required  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">发布日期</label>
            <div class="layui-input-block">
                <input type="text" placeholder="请输入发布日期" name="noDatetime" id="noDatetime" required  autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上传者</label>
            <div class="layui-input-block">
                <input type="text" placeholder="请输入上传者" name="noUploader" id="noUploader" required  autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通知类别</label>
            <div class="layui-input-block">
                <input type="text" placeholder="请输入通知类别" name="noType"  id="noType" required  autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否置顶</label>
            <div class="layui-input-block">
                <input type="radio"  name="noTop" value="2" title="置顶">
                <input type="radio"  name="noTop" value="1" title="不置顶">
            </div>
        </div>


        <div class="layui-form-item" style="margin-top:40px" id="check">
            <div class="layui-input-block">
                <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="insertNotice">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <script type="text/html" id="toolbarInsert">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="insert">添加</button>
        </div>
    </script>
    <script type="text/html" id="barEditandDel">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>


</div>
<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js" th:src="@{../static/js/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" src="../static/layui/layui.js"  th:src="@{../static/layui/layui.js}" ></script>
<script>


    layui.use(['table','laydate','layer','form'],function () {
        var table=layui.table;
        var laydate = layui.laydate;
        var layer=layui.layer;
        var form=layui.form;

        laydate.render({
            elem:"#noDatetime",
            type:"datetime",
            format:"yyyy-MM-dd HH:mm:ss",
            value:"#noDatetime"
        });
        var noticeTable={
            elem: '#ta-notice',
            url:'http://localhost:8080/selectallnotice',
            page:true,
            toolbar:'#toolbarInsert',
            parseData:function(res){
                return{
                    "code":res.code,
                    "message":res.message,
                    "count":res.count,
                    "data":res.data
                }

            },
            cols:[[
                {field:'id',title:'id', sort:true,fixed:'left'},
                {field: 'noTitle',title: '通知标题'},
                {field: 'noContent',title:'通知内容'},
                {field: 'noAuthor',title: '通知作者'},

                {field: 'noUploader',title: '通知上传者'},
                {field: 'noType',title: '通知类型'},
                {field: 'noTop',title: '是否置顶',sort: true},

                {field: 'noDatetime',title: '通知上传时间',templet: function (data) {
                        var date = new Date(data.noDatetime)
                        var month=date.getMonth()+1;
                        var nodatetime = date.getFullYear() + '-' + month + '-' + date.getDate() + '-'+' '+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds();

                        return nodatetime;
                    }
                },
                {fixed:'right',title:'操作',toolbar:'#barEditandDel',width:200}
            ]]
        }
        table.render(noticeTable);
        table.on('toolbar(ta-notice)',function (obj) {
            var data=obj.data;
            if(obj.event==='insert'){
                $("#insertNoti")[0].reset();
                layui.form.render();
                $("#id").val(0);
                layer.open({
                    type:1,
                    offset:'15px',
                    title:'添加通知',
                    area:['500px','600px'],
                    content:$("#insertno")
                });
            }

        });
        table.on('tool(ta-notice)',function (obj) {
            var data=obj.data;
            var das=[];
            switch (obj.event) {
                case 'edit':
                    $("#id").val(data.id);
                    $("#noTitle").val(data.noTitle);
                    $("#noContent").val(data.noContent);
                    $("#noAuthor").val(data.noAuthor);
                    $("#noDatetime").val(data.noDatetime);
                    $("#noUploader").val(data.noUploader);
                    $("#noType").val(data.noType);
                    $("#noTop").val(data.noTop);
                    layer.open({
                        type:1,
                        offset:'15px',
                        title:'修改通知信息',
                        area:['500px','600px'],
                        content:$("#insertno")
                    });
                    break;
                case 'del':
                    layer.confirm('删除该行吗?',function () {
                            $.ajax({
                                url:'http://localhost:8080/admindeletenotice',
                                data:{
                                    id:data.id
                                },
                                success:function (res) {
                                    if(res.status==200){
                                        layer.msg("删除成功")
                                    }
                                    else {
                                        layer.msg("删除失败")
                                    }

                                }
                            })
                        }

                    )

            }

        })
        form.on('submit(insertNotice)',function (data) {
            $.ajax({
                url:'http://localhost:8080/admininsertnotice',
                type:"post",
                contentType:'application/json',
                dataType:"json",
                data: JSON.stringify(data.field),
                success:function (res) {
                    if(res.status==200){
                        layer.closeAll();
                        alert("插入成功"+res.message)
                    }else {
                        layer.msg("添加失败"+res.message);
                    }
                    table.reload('ta-notice', {
                        page: {
                            curr: 1
                        },
                        url: 'http://localhost:8080/selectallnotice'
                    });
                },
                fail:function () {
                    console.log(data.field)
                }
            });
            return false;
        })
    });




</script>

</body>


</html>